body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
    font-size: 50px;
    font-weight: bolder;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-size: larger;
}

#new-book-btn {
    background-color: #28a745;
    color: white;
}

.toggle-btn {
    background-color: #124070;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #463a3a;
    padding: 8px;
}

th {
    background-color: #686161;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 5px;
}
